<template>
  inicio compision
  <CarComposicion />
  fin compision
  <CarComponente />

  <!-- <h2>Coche</h2>
  Mostrar variables 
  <p>Marca {{ brand }}</p>

LLAMAR POR POSICION DE ARRAY EN ESPECIFICO
  <p>Color {{ color[1] }}</p>

  <p>Price $ {{ price }}</p>

  <p>Potencia {{ power }}</p>

  PARA MOSTRAR LOS DATOS EN ARRAY
  <p>{{ mensaje.title }} {{ mensaje.text }}</p>
  <Test /> -->
</template>

<script>
import Test from "@/components/Test";

import CarComposicion from "@/components/CarComposicion";

// EXTRUCTURA DE VUE2 - OPTION AP
export default {
  data() {
    return {
      brand: "Audi",
      model: "A4",
      color: ["Azul", "Rojo", "Verde"],
      price: 38,
      power: 180,
      mensaje: {
        title: "Hola Mundo",
        text: "Adios",
      },
    };
  },
  props: {
    power: {
      type: Number,
      default: 60
    }
  },
  // Siempre deben llamarse los las importaciones en los componentes
  components: {
    Test,
    CarComposicion
  },
};
</script>

<style></style>