<template>
    <h2>Coche - Composition API</h2>
    <p>Marca: {{ brand }}</p>
    <p>Modelo: {{ model }}</p>
    <p>Potencia: {{ power }}</p>

    <button @click="upPower()">Aumentar</button>
    <button @click="downPower()">Disminuir</button>
</template>
<script>
// ref es para poder usar la variable
import { ref } from "vue";
export default {

    setup() {
        const brand = "Audi";
        const model = "A4";
        let power = ref(40)

        // NUEVA FORMA DE LLAMAR FUNCIONES EN COMPOSITION API
        const upPower = () => {
            console.log("Aumentando potencia");
            // Se debe llamar al value para afectar la variable
            power.value++;
            console.log(power.value);
        };
        const downPower = () => {
            console.log("Bajando potencia ");
            power.value--;
            console.log(power.value);

        }

        return { brand, model, power, upPower, downPower }
    }

}
</script>
