<template>
    <h2>Coche - VUE 2</h2>
    <p>Marca: {{ brand }}</p>
    <p>Modelo: {{ model }}</p>
    <p>Potencia: {{ power }}</p>

    <button @click="upPower(500)">Aumentar</button>
    <button @click="downPower(500)">Disminuir</button>
</template>
<script>

export default {

    data() {
        return {
            brand: "Audi",
            model: "A4",
            power: 40
        }
    },
    methods: {
        upPower(newPower) {
            console.log("Aumentando potencia");
            this.power = this.power + newPower;
            console.log(this.power);
        },
        downPower(newPower) {
            console.log("Bajando potencia ");
            this.power = this.power - newPower;
            console.log(this.power);

        }
    }
}
</script>
