<template>
  <p>Modelo {{ brand }}</p>
  <p> Potencia {{ power }}</p>

  <button @click="TestPower">Aumentar</button>

  <button @click="downPowerFn">Disminuir</button>

  <CarComposicion />
</template>

<script>
// EXTRUCTURA DE VUE2 - OPTION AP
export default {

  props: {
    power: {
      // EN CASO QUE NO LLEGUE NADA DEFAULT QUEDA EN 60
      type: Number,
      default: 60
    },
    upPower: Function
  },
  // asi se se llaman los emmits del padre
  emmits: ["DownPotencia"],
  // para usar el emmit debemos declarar context
  setup(props, context) {
    const brand = "Audi";
    const model = "A4"

    // EN CASO DE LLAMAR UNA FUNCION DEL PADRE
    const TestPower = () => {
      props.upPower();
    }

    // NUEVA FUNCION PARA LLAMAR EL EMMIT 
    const downPowerFn = () => {
      // se llama la funcion emmit
      context.emit("DownPotencia");
    }

    return {
      brand,
      TestPower, downPowerFn
    }

  },

};
</script>

<style></style>