<template>
  <h3>Test</h3>
  <h2>Coche</h2>
  <!-- Mostrar variables  -->
  <p>Marca {{ brand }}</p>

  <!-- LLAMAR POR POSICION DE ARRAY EN ESPECIFICO-->
  <p>Color {{ colors }}</p>

  <!-- SE MUESTRA EN ROJO POR EL INDEX -->
  <!-- Los 2 puntos signfica que seran dinamicos -->
  <span v-for="(color, index) in colors" :key="index">
    {{ index }}: {{ color }} <br
  /></span>

  <p>Price $ {{ price }}</p>

  <p>Potencia {{ power }}</p>

  <p>Potencias Urbanas menor a 300</p>
  <ul>
    <li v-for="(power, index) in powers" :key="index">
      <template v-if="power < 300">
        {{ power }}
      </template>
    </li>
  </ul>

  <p>Potencias Urbanas mayor a 300</p>

  <!-- PARA MOSTRAR LOS DATOS EN ARRAY-->
  <p>{{ mensaje.title }} {{ mensaje.text }}</p>
</template>

<script>
// COMPOSITION API - VERSION VUE3
export default {
  setup() {
    const brand = "Audi";
    const model = "A4";
    const colors = ["Azul", "Rojo", "Amarillo"];
    const price = 38;
    const powers = [60, 80, 120, 160, 200, 280, 320, 520, 567];
    const mensaje = {
      title: "Estoy Bien",
      text: "Welcome",
    };

    // Se deben retornar las variables para poder verlas
    return {
      brand,
      model,
      colors,
      price,
      powers,
      mensaje,
    };
  },
};
</script>

<style>
</style>