<template>
  <!-- <h1>Nuestor Primer componente</h1>
  <p>Hola Mundo</p> -->

  <CarV2 :power="power" :upPower="upPower" @DownPotencia="DownPotencia" />
  <h1>MODULO 2</h1>
  <Car />
</template>

<script>
// Importar Componentes
// NOTA: EL @ es para establecer que es la carpeta scr por defecto
import Car from "@/components/Car";
import CarV2 from "@/components/CarV2";

import { ref } from "vue";


export default {
  components: {
    Car,
    CarV2
  },
  setup() {
    let power = ref(70);

    // ya las funciones no se llaman por methodos si no por 
    // constante en tipo de funciones

    const upPower = () => {
      console.log("Aumentar");
      power.value++;
    };

    // EMMIT
    const DownPotencia = () => {
      power.value--;
    }

    return {
      // DEBEMOS LLAMAR TODO AQUI
      power, upPower, DownPotencia
    }
  }
};
</script>